defaults:
  nicks:
    - "rubino123"
    - "[rubino123]"
    - "rubino123_"
    - "_rubino123"
connections:
  freenode:
    server: irc.freenode.net/6667
    channels:
      - "#botters"
    password: waffles

  ninthbit:
    server: irc.ninthbit.net/6667
    channels:
      - "#bots"
      - "#programming"
  sinsira:
    server: irc.sinsira.net/6667
    channels:
      - "#general"
      - "#programming"
