# Triggered with "#{comchar}>>" (e.g.: !>> puts "hi"). Must exist in RVM.
default_ruby: "ruby-2.0.0-p0"

# Where the RVM path is. Due to speed issues, we now require a global RVM install
# that `sandbox` can access. By default, rvm globally installs to: /usr/local/rvm
rvm_path: /usr/local/rvm

# How to get versions of packages
# Fedora/CentOS/RHEL/SciLinux/etc.
version_command: "rpm -qf"

# Rublets needs a place to:
# 1) store sandboxes when evaluations happens, and
# 2) store its evaluated results for auditing purposes.
# This is passed to File.expand_path, so you can use ~/ here.
# The bot MUST have read/write access to this directory.
rublets_home: "~/.rublets/"

# Ubuntu/Debian/etc. (Comment the above version_command, and uncomment the one below)
# version_command: "dpkg-query -W -f '${Package}-${Version}\n' $(dpkg -S {} | awk -F: '{print $1}')"

# How to trigger the bot in a channel
comchar: "!"

# Pastebin credentials (used for making the bot own its pastes)
# Currently uses refheap.com's API, so get a username from them.
# Your API key is the "password" field here.
pastebin_credentials:
  username: rublets
  password: Your_P4ssw0rd_G0eS.Here!

# 10Bit servers to connect to
servers:
  tenthbit:
    address: 10bit.danopia.net
    username: rublets
    password: Your_P4ssw0rd_G0eS.Here!

special_languages:
  - "ruby (see !rubies)"
