# How to get versions of packages
# Fedora/CentOS/RHEL/SciLinux/etc.
version_command: "rpm -qf"

# Rublets needs a place to:
# 1) store sandboxes when evaluations happens, and
# 2) store its evaluated results for auditing purposes.
# This is passed to File.expand_path, so you can use ~/ here.
# The bot MUST have read/write access to this directory.
rublets_home: "~/.rublets/"

# Ubuntu/Debian/etc. (Comment the above version_command, and uncomment the one below)
# version_command: "dpkg-query -W -f '${Package}-${Version}\n' $(dpkg -S {} | awk -F: '{print $1}')"

# How to trigger the bot in a channel
comchar: "!"

# Pastebin credentials (used for making the bot own its pastes)
# Currently uses refheap.com's API, so get a username from them.
# Your API key is the "password" field here.
pastebin_credentials:
  username: rublets
  password: Your_P4ssw0rd_G0eS.Here!

# Bot nickname
nickname: rublets_dev

# IRC Servers to connect to
servers:
  freenode:
    address: irc.freenode.net
    admins:
    - "redhat/relrod"
    channels:
    - "#offtopic"
    - "#programming"
    - "#bots"
    - "#rublets"
    # These are options specific to channels that Rublets is in. In order to
    # have any effect, the channels must be listed above so Rublets joins them.
    # This section just allows you to override some settings (namely, flood
    # output limit before pasting) for some subset of those channels.
    channel_options:
    - channel: "#rublets"
      limit: 6
    # This allows the bot to only be accessed in-channel (as opposed to allowing
    # PM's). However, we want to allow some exceptions to this rule. Any
    # hostmask listed here can access the bot via PM.
    pm_hosts:
    - "redhat/relrod"

special_languages:
  - "ruby (see !rubies)"
