<!doctype html>
<html lang="en">
  <head>
    <title>Rublets Statistics</title>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/south-street/jquery-ui.css" rel="stylesheet" />
    <style>
      @import url('http://fonts.googleapis.com/css?family=Exo:400,700');
      h1, h2, h3, h4, h5 { font-family: 'Exo', inherit; }
      html, body {
        margin: 0;
        padding: 0;
      }
      html {
        text-align: center;
        border-top: 5px solid #00bb00;
      }
      body {
        text-align: left; /* yay ie6 */
        margin: 0 auto;
        width: 960px;
      }
      .ui-tabs-panel { height: 700px; }
      .ui-tabs-panel iframe { height: 680px; width: 900px; }
    </style>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>    
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>

    <script type="text/javascript">
      $(function() {
        $('#stats').tabs();
      });
    </script>

    <!-- Language graph -->
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Language', 'Total Evaluations'],
          <%= @languages.sort_by { |k,v| v }.map{ |k,v| "['#{k}', #{v}]"}.join(",\n") %>
        ]);

        var options = {
          backgroundColor: '#F5F3E5',
          colors: ['#00bb00'],
          height: 680,
          width: 900,
          title: 'Languages Evaluated',
          legend: {position: 'none'},
          vAxis: {direction: -1}
        };

        var chart = new google.visualization.BarChart(document.getElementById('language_chart'));
        chart.draw(data, options);
      }
    </script>

    <!-- Users graph -->
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['User', 'Total Evaluations'],
          <%= @users.sort_by {|k,v| v}.reverse.take(10).map { |k,v| "['#{k}', #{v}]"}.join(",\n") %>
        ]);

        var options = {
          backgroundColor: '#F5F3E5',
          colors: ['#00bb00'],
          height: 680,
          width: 900,
          title: 'Evaluations',
          legend: {position: 'none'},
          vAxis: {direction: 1}
        };

        var chart = new google.visualization.BarChart(document.getElementById('user_chart'));
        chart.draw(data, options);
      }
    </script>

    <!-- Evaluations over time -->
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
        ['Day', 'Evaluations'],
        <%= @evaluations.sort_by {|k,v| k.to_i}.reverse.map { |k,v| "['#{k.strftime("%m/%d/%Y")}', #{v}]"}.join(",\n") %>
        ]);

        var options = {
          backgroundColor: '#F5F3E5',
          colors: ['#00bb00'],
          height: 680,
          width: 900,
          title: 'Evaluations per Day',
          legend: {position: 'none'},
          hAxis: {direction: -1}
        };

        var chart = new google.visualization.LineChart(document.getElementById('evaluations_chart'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <h1>Rublets Statistics</h1>
    
    <div id="stats">
      <ul id="stats-nav">
        <li><a href="#evaluations_chart">By Day</a></li>
        <li><a href="#language_chart">By Language</a></li>
        <li><a href="#user_chart">By User</a></li>
      </ul>
      <div>
        <div id="evaluations_chart"></div>
        <div id="language_chart"></div>
        <div id="user_chart"></div>
      </div>
    </div>
  </body>
</html>
